# Flask
# langchain
# langchain-chains
# langchain-openai
# langchain-pinecone
# langchain-community
# openai
# pinecone-client
# python-dotenv

Flask
langchain==0.1.20
langchain-openai
langchain-pinecone
langchain-community
openai
pinecone-client
python-dotenv